---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Dr. Bimlendu Choudhary.">
<section class="text-gray-600 body-font">
	<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
		<img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
		<div class="text-center lg:w-2/3 w-full">
		<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
			Dr. Bimlendu Choudhary </h1>
		<h2 class="title-font sm:text-2xl text-2xl mb-4 font-medium text-gray-600">
			Leading Orthopedic Surgeon of Darbhanga </h2>
		<p class="mb-8 leading-relaxed">
			If you are still Searching for the Best Orthopedic Doctors or Orthopedic 
			Surgeon in Darbhanga, Bihar? Then contact with Dr. Bimlendu Choudhary . 
			Orthopedic is one of the departments of medical science where you need 
			specialist to do the job. However with swelling numbers of orthopedic 
			doctor in our country it has become a difficult task to find out the
			 best orthopedic doctor in Bihar, India. One name you can trust upon 
			 for your all orthopedic treatment is Dr Bimlendu Choudhary, an eminent 
			 orthopedic surgeon who has 10 years of experience and performed more
			  than 1000 procedures.</p>
			<div class="flex justify-center">
			<button class="inline-flex text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded text-lg">
			Book Appointment</button>			
			</div>
		</div>
	</div>
</section>
</Layout>