---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services">
<main>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/services/">Specialities</a>

</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>